In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm
from sklearn.preprocessing import LabelEncoder
import re

In [76]:
# Adjust display options to show full content
pd.set_option('display.max_colwidth', None)  # No truncation for column content
pd.set_option('display.max_rows', None)      # Display all rows (set a limit if data is large)
pd.set_option('display.max_columns', None)   # Display all columns

In [3]:
df_CombinedData = pd.read_csv(r'DataSets\New_Structured_Data\Combined_Cars_Data.csv',low_memory=False)
df_CombinedData

,city,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen
0,Bangalore,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,NaN,NaN
1,Bangalore,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,16,NaN
2,Bangalore,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,...,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,14,NaN
3,Bangalore,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,...,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,14,NaN
4,Bangalore,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,...,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Kolkata,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless, Radial",5.0,313,NaN,NaN,NaN
8365,Kolkata,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,...,Solid Disc,Drum,140 kmph,19 Seconds,Tubeless Tyres,5.0,177-litres,NaN,NaN,NaN
8366,Kolkata,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,...,Ventilated Disc,Solid Disc,230km/hr,8.8 Seconds,"Tubeless,Radial",4.0,475-litres,17,17,NaN
8367,Kolkata,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,...,Ventilated Disc,Drum,156 Kmph,15 Seconds,"Tubeless,Radial",5.0,236-liters,14,14,NaN
8368,Kolkata,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,...,Disc,Drum,168 Kmph,14.20 Seconds,"Tubeless,Radial",5.0,410-litres,16,16,NaN

In [4]:
df_CombinedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 76 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   city                           8369 non-null   object
 1   it                             8369 non-null   int64
 2   ft                             8369 non-null   object
 3   bt                             8365 non-null   object
 4   km                             8369 non-null   object
 5   transmission                   8369 non-null   object
 6   ownerNo                        8369 non-null   int64
 7   owner                          8369 non-null   object
 8   oem                            8369 non-null   object
 9   model                          8369 non-null   object
 10  modelYear                      8369 non-null   int64
 11  centralVariantId               8369 non-null   int64
 12  variantName                    8369 non-null   object
 13  price                          8369 non-null   object
 14  priceActual                    1670 non-null   object
 15  priceSaving                    0 non-null      float64
 16  priceFixedText                 0 non-null      float64
 17  imgUrl                         8369 non-null   object
 18  heading                        8369 non-null   object
 19  desc                           8369 non-null   object
 20  Registration Year              8317 non-null   object
 21  Insurance Validity             8365 non-null   object
 22  Fuel Type                      8369 non-null   object
 23  Seats                          8363 non-null   object
 24  Kms Driven                     8367 non-null   object
 25  RTO                            7475 non-null   object
 26  Ownership                      8337 non-null   object
 27  Engine Displacement            8365 non-null   object
 28  Transmission                   8369 non-null   object
 29  Year of Manufacture            8349 non-null   float64
 30  Features                       8369 non-null   int64
 31  Comfort & Convenience          8301 non-null   float64
 32  Interior                       8292 non-null   float64
 33  Exterior                       8279 non-null   float64
 34  Safety                         8273 non-null   float64
 35  Entertainment & Communication  7274 non-null   float64
 36  Mileage                        8082 non-null   object
 37  Engine                         8365 non-null   object
 38  Max Power                      8309 non-null   object
 39  Torque                         8309 non-null   object
 40  Seats.1                        8363 non-null   float64
 41  Color                          8366 non-null   object
 42  Engine Type                    8074 non-null   object
 43  Displacement                   8365 non-null   float64
 44  Max Torque                     8309 non-null   object
 45  No of Cylinder                 8338 non-null   float64
 46  Values per Cylinder            8318 non-null   float64
 47  Value Configuration            6153 non-null   object
 48  Fuel Suppy System              6642 non-null   object
 49  BoreX Stroke                   2405 non-null   object
 50  Compression Ratio              1895 non-null   object
 51  Turbo Charger                  7329 non-null   object
 52  Super Charger                  6407 non-null   object
 53  Length                         8290 non-null   object
 54  Width                          8286 non-null   object
 55  Height                         8290 non-null   object
 56  Wheel Base                     8206 non-null   object
 57  Front Tread                    4811 non-null   object
 58  Rear Tread                     4799 non-null   object
 59  Kerb Weight                    8310 non-null   object
 60  Gross Weight                   3828 non-null   object
 61  Gear Box                       8263 non-null   object
 62  Drive Type                     6809 non-null   object
 63  Seating Capacity               8363 non-null   float64
 64  Steering Type                  8114 non-null   object
 65  Turning Radius                 6769 non-null   object
 66  Front Brake Type               8273 non-null   object
 67  Rear Brake Type                8273 non-null   object
 68  Top Speed                      4607 non-null   object
 69  Acceleration                   4857 non-null   object
 70  Tyre Type                      8292 non-null   object
 71  No Door Numbers                8358 non-null   float64
 72  Cargo Volumn                   6776 non-null   object
 73  Wheel Size                     5386 non-null   object
 74  Alloy Wheel Size               5386 non-null   object
 75  Ground Clearance Unladen       515 non-null    object
dtypes: float64(14), int64(5), object(57)
memory usage: 4.9+ MB

In [5]:
df_CombinedData.columns

Index(['city', 'it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner',
       'oem', 'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'imgUrl', 'heading',
       'desc', 'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Features', 'Comfort & Convenience', 'Interior',
       'Exterior', 'Safety', 'Entertainment & Communication', 'Mileage',
       'Engine', 'Max Power', 'Torque', 'Seats.1', 'Color', 'Engine Type',
       'Displacement', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger', 'Length',
       'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread',
       'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
       'Seating Capacity', 'Steering Type', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type', 'No Door Numbers', 'Cargo Volumn', 'Wheel Size',
       'Alloy Wheel Size', 'Ground Clearance Unladen'],
      dtype='object')

In [64]:
# Dropping Columns based on the Nullvalues,uniquesvalues, unwanted data,repeated column .

In [6]:
df_CombinedData.drop(columns=['it','priceActual','priceSaving','priceFixedText','imgUrl','heading','desc','Max Torque'],inplace=True,axis = 1)

In [7]:
df_CombinedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 68 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   city                           8369 non-null   object
 1   ft                             8369 non-null   object
 2   bt                             8365 non-null   object
 3   km                             8369 non-null   object
 4   transmission                   8369 non-null   object
 5   ownerNo                        8369 non-null   int64
 6   owner                          8369 non-null   object
 7   oem                            8369 non-null   object
 8   model                          8369 non-null   object
 9   modelYear                      8369 non-null   int64
 10  centralVariantId               8369 non-null   int64
 11  variantName                    8369 non-null   object
 12  price                          8369 non-null   object
 13  Registration Year              8317 non-null   object
 14  Insurance Validity             8365 non-null   object
 15  Fuel Type                      8369 non-null   object
 16  Seats                          8363 non-null   object
 17  Kms Driven                     8367 non-null   object
 18  RTO                            7475 non-null   object
 19  Ownership                      8337 non-null   object
 20  Engine Displacement            8365 non-null   object
 21  Transmission                   8369 non-null   object
 22  Year of Manufacture            8349 non-null   float64
 23  Features                       8369 non-null   int64
 24  Comfort & Convenience          8301 non-null   float64
 25  Interior                       8292 non-null   float64
 26  Exterior                       8279 non-null   float64
 27  Safety                         8273 non-null   float64
 28  Entertainment & Communication  7274 non-null   float64
 29  Mileage                        8082 non-null   object
 30  Engine                         8365 non-null   object
 31  Max Power                      8309 non-null   object
 32  Torque                         8309 non-null   object
 33  Seats.1                        8363 non-null   float64
 34  Color                          8366 non-null   object
 35  Engine Type                    8074 non-null   object
 36  Displacement                   8365 non-null   float64
 37  No of Cylinder                 8338 non-null   float64
 38  Values per Cylinder            8318 non-null   float64
 39  Value Configuration            6153 non-null   object
 40  Fuel Suppy System              6642 non-null   object
 41  BoreX Stroke                   2405 non-null   object
 42  Compression Ratio              1895 non-null   object
 43  Turbo Charger                  7329 non-null   object
 44  Super Charger                  6407 non-null   object
 45  Length                         8290 non-null   object
 46  Width                          8286 non-null   object
 47  Height                         8290 non-null   object
 48  Wheel Base                     8206 non-null   object
 49  Front Tread                    4811 non-null   object
 50  Rear Tread                     4799 non-null   object
 51  Kerb Weight                    8310 non-null   object
 52  Gross Weight                   3828 non-null   object
 53  Gear Box                       8263 non-null   object
 54  Drive Type                     6809 non-null   object
 55  Seating Capacity               8363 non-null   float64
 56  Steering Type                  8114 non-null   object
 57  Turning Radius                 6769 non-null   object
 58  Front Brake Type               8273 non-null   object
 59  Rear Brake Type                8273 non-null   object
 60  Top Speed                      4607 non-null   object
 61  Acceleration                   4857 non-null   object
 62  Tyre Type                      8292 non-null   object
 63  No Door Numbers                8358 non-null   float64
 64  Cargo Volumn                   6776 non-null   object
 65  Wheel Size                     5386 non-null   object
 66  Alloy Wheel Size               5386 non-null   object
 67  Ground Clearance Unladen       515 non-null    object
dtypes: float64(12), int64(4), object(52)
memory usage: 4.3+ MB

In [40]:
#Checking the Datas of the column1 and column2 are same or Not, for Deleting the column .
# If both are same ,you can choose either one column.

In [8]:
def RowData_Checking(column1, column2):
    if df_CombinedData[column1].all() == df_CombinedData[column2].all():
        return f'All the datas are same in {column1} and {column2}'
    else:
        return f'Datas are different in {column1} and {column2}'

In [9]:
val1 = RowData_Checking('transmission', 'Transmission')
print(val1)
print('-----------------------------')

val2 = RowData_Checking('ft', 'Fuel Type')
print(val2)
print('-----------------------------')

val3 = RowData_Checking('Wheel Size','Alloy Wheel Size')
print(val3)
print('-----------------------------')

All the datas are same in transmission and Transmission
-----------------------------
All the datas are same in ft and Fuel Type
-----------------------------
All the datas are same in Wheel Size and Alloy Wheel Size
-----------------------------

In [ ]:
# Checking the Percentage of the non null values in each columns

In [10]:
def PercentageOf_Data(Column):
    PercentOf_NonNull = ((df_CombinedData[Column].shape[0] - df_CombinedData[Column].isna().sum()) / df_CombinedData[Column].shape[0]) * 100
    if PercentOf_NonNull > 50 :
        return f'Percentage of non null values of {Column} is above 50% , which is \033[92m{PercentOf_NonNull:.2f}%\033[0m.'
    else :
        return f'Percentage of non null values of {Column} is below or equal to 50% , which is \033[91m{PercentOf_NonNull:.2f}%\033[0m.'

In [11]:
for col in df_CombinedData.columns:
    col1 = PercentageOf_Data(col)
    print(col1)
    print("------------------------")

Percentage of non null values of city is above 50% , which is 100.00%.
------------------------
Percentage of non null values of ft is above 50% , which is 100.00%.
------------------------
Percentage of non null values of bt is above 50% , which is 99.95%.
------------------------
Percentage of non null values of km is above 50% , which is 100.00%.
------------------------
Percentage of non null values of transmission is above 50% , which is 100.00%.
------------------------
Percentage of non null values of ownerNo is above 50% , which is 100.00%.
------------------------
Percentage of non null values of owner is above 50% , which is 100.00%.
------------------------
Percentage of non null values of oem is above 50% , which is 100.00%.
------------------------
Percentage of non null values of model is above 50% , which is 100.00%.
------------------------
Percentage of non null values of modelYear is above 50% , which is 100.00%.
------------------------
Percentage of non null values of centralVariantId is above 50% , which is 100.00%.
------------------------
Percentage of non null values of variantName is above 50% , which is 100.00%.
------------------------
Percentage of non null values of price is above 50% , which is 100.00%.
------------------------
Percentage of non null values of Registration Year is above 50% , which is 99.38%.
------------------------
Percentage of non null values of Insurance Validity is above 50% , which is 99.95%.
------------------------
Percentage of non null values of Fuel Type is above 50% , which is 100.00%.
------------------------
Percentage of non null values of Seats is above 50% , which is 99.93%.
------------------------
Percentage of non null values of Kms Driven is above 50% , which is 99.98%.
------------------------
Percentage of non null values of RTO is above 50% , which is 89.32%.
------------------------
Percentage of non null values of Ownership is above 50% , which is 99.62%.
------------------------
Percentage of non null values of Engine Displacement is above 50% , which is 99.95%.
------------------------
Percentage of non null values of Transmission is above 50% , which is 100.00%.
------------------------
Percentage of non null values of Year of Manufacture is above 50% , which is 99.76%.
------------------------
Percentage of non null values of Features is above 50% , which is 100.00%.
------------------------
Percentage of non null values of Comfort & Convenience is above 50% , which is 99.19%.
------------------------
Percentage of non null values of Interior is above 50% , which is 99.08%.
------------------------
Percentage of non null values of Exterior is above 50% , which is 98.92%.
------------------------
Percentage of non null values of Safety is above 50% , which is 98.85%.
------------------------
Percentage of non null values of Entertainment & Communication is above 50% , which is 86.92%.
------------------------
Percentage of non null values of Mileage is above 50% , which is 96.57%.
------------------------
Percentage of non null values of Engine is above 50% , which is 99.95%.
------------------------
Percentage of non null values of Max Power is above 50% , which is 99.28%.
------------------------
Percentage of non null values of Torque is above 50% , which is 99.28%.
------------------------
Percentage of non null values of Seats.1 is above 50% , which is 99.93%.
------------------------
Percentage of non null values of Color is above 50% , which is 99.96%.
------------------------
Percentage of non null values of Engine Type is above 50% , which is 96.48%.
------------------------
Percentage of non null values of Displacement is above 50% , which is 99.95%.
------------------------
Percentage of non null values of No of Cylinder is above 50% , which is 99.63%.
------------------------
Percentage of non null values of Values per Cylinder is above 50% , which is 99.39%.
------------------------
Percentage of non null values of Value Configuration is above 50% , which is 73.52%.
------------------------
Percentage of non null values of Fuel Suppy System is above 50% , which is 79.36%.
------------------------
Percentage of non null values of BoreX Stroke is below or equal to 50% , which is 28.74%.
------------------------
Percentage of non null values of Compression Ratio is below or equal to 50% , which is 22.64%.
------------------------
Percentage of non null values of Turbo Charger is above 50% , which is 87.57%.
------------------------
Percentage of non null values of Super Charger is above 50% , which is 76.56%.
------------------------
Percentage of non null values of Length is above 50% , which is 99.06%.
------------------------
Percentage of non null values of Width is above 50% , which is 99.01%.
------------------------
Percentage of non null values of Height is above 50% , which is 99.06%.
------------------------
Percentage of non null values of Wheel Base is above 50% , which is 98.05%.
------------------------
Percentage of non null values of Front Tread is above 50% , which is 57.49%.
------------------------
Percentage of non null values of Rear Tread is above 50% , which is 57.34%.
------------------------
Percentage of non null values of Kerb Weight is above 50% , which is 99.30%.
------------------------
Percentage of non null values of Gross Weight is below or equal to 50% , which is 45.74%.
------------------------
Percentage of non null values of Gear Box is above 50% , which is 98.73%.
------------------------
Percentage of non null values of Drive Type is above 50% , which is 81.36%.
------------------------
Percentage of non null values of Seating Capacity is above 50% , which is 99.93%.
------------------------
Percentage of non null values of Steering Type is above 50% , which is 96.95%.
------------------------
Percentage of non null values of Turning Radius is above 50% , which is 80.88%.
------------------------
Percentage of non null values of Front Brake Type is above 50% , which is 98.85%.
------------------------
Percentage of non null values of Rear Brake Type is above 50% , which is 98.85%.
------------------------
Percentage of non null values of Top Speed is above 50% , which is 55.05%.
------------------------
Percentage of non null values of Acceleration is above 50% , which is 58.04%.
------------------------
Percentage of non null values of Tyre Type is above 50% , which is 99.08%.
------------------------
Percentage of non null values of No Door Numbers is above 50% , which is 99.87%.
------------------------
Percentage of non null values of Cargo Volumn is above 50% , which is 80.97%.
------------------------
Percentage of non null values of Wheel Size is above 50% , which is 64.36%.
------------------------
Percentage of non null values of Alloy Wheel Size is above 50% , which is 64.36%.
------------------------
Percentage of non null values of Ground Clearance Unladen is below or equal to 50% , which is 6.15%.
------------------------

In [ ]:
# Based on the analysis conducted on each column, a decision was made to delete the selected columns.

In [12]:
df_CombinedData.drop(columns=['Kms Driven','Ownership','owner','Year of Manufacture','Engine Displacement',
                              'Engine','Seats.1','Seats','ft','Alloy Wheel Size','transmission','BoreX Stroke',
                              'Compression Ratio','Gross Weight','No Door Numbers','Ground Clearance Unladen'],inplace = True, axis = 1)

In [14]:
print(f'Total No. of columns: {df_CombinedData.shape[1]}' )

Total No. of columns: 52

In [15]:
df_CombinedData.head(5)

,city,bt,km,ownerNo,oem,model,modelYear,centralVariantId,variantName,price,...,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Cargo Volumn,Wheel Size
0,Bangalore,Hatchback,"1,20,000",3,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,...,5.0,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",235-litres,NaN
1,Bangalore,SUV,"32,706",2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,...,5.0,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",352-litres,16
2,Bangalore,Hatchback,"11,949",1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,...,5.0,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,242-litres,14
3,Bangalore,Sedan,"17,794",1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,...,5.0,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",407-litres,14
4,Bangalore,SUV,"60,000",1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,...,5.0,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",353-litres,16

In [16]:
df_CombinedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   city                           8369 non-null   object
 1   bt                             8365 non-null   object
 2   km                             8369 non-null   object
 3   ownerNo                        8369 non-null   int64
 4   oem                            8369 non-null   object
 5   model                          8369 non-null   object
 6   modelYear                      8369 non-null   int64
 7   centralVariantId               8369 non-null   int64
 8   variantName                    8369 non-null   object
 9   price                          8369 non-null   object
 10  Registration Year              8317 non-null   object
 11  Insurance Validity             8365 non-null   object
 12  Fuel Type                      8369 non-null   object
 13  RTO                            7475 non-null   object
 14  Transmission                   8369 non-null   object
 15  Features                       8369 non-null   int64
 16  Comfort & Convenience          8301 non-null   float64
 17  Interior                       8292 non-null   float64
 18  Exterior                       8279 non-null   float64
 19  Safety                         8273 non-null   float64
 20  Entertainment & Communication  7274 non-null   float64
 21  Mileage                        8082 non-null   object
 22  Max Power                      8309 non-null   object
 23  Torque                         8309 non-null   object
 24  Color                          8366 non-null   object
 25  Engine Type                    8074 non-null   object
 26  Displacement                   8365 non-null   float64
 27  No of Cylinder                 8338 non-null   float64
 28  Values per Cylinder            8318 non-null   float64
 29  Value Configuration            6153 non-null   object
 30  Fuel Suppy System              6642 non-null   object
 31  Turbo Charger                  7329 non-null   object
 32  Super Charger                  6407 non-null   object
 33  Length                         8290 non-null   object
 34  Width                          8286 non-null   object
 35  Height                         8290 non-null   object
 36  Wheel Base                     8206 non-null   object
 37  Front Tread                    4811 non-null   object
 38  Rear Tread                     4799 non-null   object
 39  Kerb Weight                    8310 non-null   object
 40  Gear Box                       8263 non-null   object
 41  Drive Type                     6809 non-null   object
 42  Seating Capacity               8363 non-null   float64
 43  Steering Type                  8114 non-null   object
 44  Turning Radius                 6769 non-null   object
 45  Front Brake Type               8273 non-null   object
 46  Rear Brake Type                8273 non-null   object
 47  Top Speed                      4607 non-null   object
 48  Acceleration                   4857 non-null   object
 49  Tyre Type                      8292 non-null   object
 50  Cargo Volumn                   6776 non-null   object
 51  Wheel Size                     5386 non-null   object
dtypes: float64(9), int64(4), object(39)
memory usage: 3.3+ MB

# Formatting And Converting the Columns

In [18]:
def convert_to_numeric(column):
    
    def extract_number(value):
        if pd.isna(value):
            return value  # Keep NaN as is
        try:
            # Handle 'Lakh' and remove monetary symbols
            value = str(value).replace('₹', '').replace('Lakh', '00000').strip()
            # Extract numeric part using regex
            match = re.search(r'-?\d+(\.\d+)?', value.replace(',', ''))
            if match:
                return float(match.group())
            else:
                return np.nan
        except ValueError:
            return value  # Return NaN if conversion fails

    return column.apply(extract_number)

In [19]:
#Formatting and Converting the km Column
df_CombinedData['km'] = convert_to_numeric(df_CombinedData['km'])
df_CombinedData['km'].astype(int)

0       120000
1        32706
2        11949
3        17794
4        60000
         ...
8364     10000
8365    120000
8366     50000
8367     40000
8368    120000
Name: km, Length: 8369, dtype: int64

In [20]:
#Formatting and Converting the Price Column 
df_CombinedData['price'] = convert_to_numeric(df_CombinedData['price']) * 100000
df_CombinedData['price'].astype(int)

0       400000
1       811000
2       585000
3       462000
4       790000
         ...
8364    509999
8365    180000
8366    550000
8367    140000
8368    500000
Name: price, Length: 8369, dtype: int64

In [21]:
#Formatting and Converting the Mileage Column 
df_CombinedData['Mileage'] = convert_to_numeric(df_CombinedData['Mileage'])
df_CombinedData['Mileage']

0       23.10
1       17.00
2       23.84
3       19.10
4       23.65
        ...
8364    25.24
8365    22.74
8366    11.74
8367    18.50
8368    19.72
Name: Mileage, Length: 8369, dtype: float64

In [ ]:
#Formatting and Converting the Max Power Column
df_CombinedData['Max Power'] = convert_to_numeric( df_CombinedData['Max Power'] )
df_CombinedData['Max Power']

In [34]:
#Formatting and Converting the Torque Column
df_CombinedData['Torque'] = convert_to_numeric( df_CombinedData['Torque'] )
df_CombinedData['Torque']

0        90.00
1       150.00
2       114.00
3       113.75
4       200.00
         ...
8364     89.00
8365     69.00
8366    285.00
8367    114.00
8368    245.00
Name: Torque, Length: 8369, dtype: float64

In [ ]:
Column_mm = ['Length','Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread']

for i in Column_mm:
    try:
        # Attempt to process the column with the convert_to_numeric function
        df_CombinedData[i] = convert_to_numeric(df_CombinedData[i])
        print(f"Processed column: {i}")
        print(df_CombinedData[i].head())  # Display the first few rows for verification
        print('Total Null values:', df_CombinedData[i].isna().sum())
        print('---------------------------------------------------')
    except Exception as e:
        # Catch and display any errors that occur during processing
        print(f"Error processing column {i}: {e}")
        print('---------------------------------------------------')

Processed column: Length
0    3715.0
1    3998.0
2    3746.0
3    3995.0
4    4300.0
Name: Length, dtype: float64
Total Null values: 79
---------------------------------------------------
Processed column: Width
0    1635.0
1    1765.0
2    1647.0
3    1660.0
4    1785.0
Name: Width, dtype: float64
Total Null values: 83
---------------------------------------------------
Processed column: Height
0    1565.0
1    1647.0
2    1535.0
3    1520.0
4    1595.0
Name: Height, dtype: float64
Total Null values: 79
---------------------------------------------------
Processed column: Wheel Base
0    2425.0
1    2519.0
2    2400.0
3    2425.0
4    2600.0
Name: Wheel Base, dtype: float64
Total Null values: 163
---------------------------------------------------
Processed column: Front Tread
0    1420.0
1       NaN
2    1400.0
3    1479.0
4       NaN
Name: Front Tread, dtype: float64
Total Null values: 3558
---------------------------------------------------
Processed column: Rear Tread
0    1410.0
1       NaN
2    1420.0
3    1493.0
4       NaN
Name: Rear Tread, dtype: float64
Total Null values: 3570
---------------------------------------------------

In [42]:
Column_mm1 = ['Kerb Weight','Gear Box', 'Turning Radius', 'Top Speed', 'Acceleration', 'Cargo Volumn']

for i in Column_mm1:
    try:
        # Attempt to process the column with the convert_to_numeric function
        df_CombinedData[i] = convert_to_numeric(df_CombinedData[i])
        print(f"Processed column: {i}")
        print(df_CombinedData[i].head())  # Display the first few rows for verification
        print('Total Null values:', df_CombinedData[i].isna().sum())
        print('---------------------------------------------------')
    except Exception as e:
        # Catch and display any errors that occur during processing
        print(f"Error processing column {i}: {e}")
        print('---------------------------------------------------')

Processed column: Kerb Weight
0     835.0
1    1242.0
2    1012.0
3    1180.0
4    1230.0
Name: Kerb Weight, dtype: float64
Total Null values: 60
---------------------------------------------------
Processed column: Gear Box
0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: Gear Box, dtype: float64
Total Null values: 326
---------------------------------------------------
Processed column: Turning Radius
0    4.7
1    5.3
2    4.9
3    4.7
4    5.2
Name: Turning Radius, dtype: float64
Total Null values: 1600
---------------------------------------------------
Processed column: Top Speed
0    150.0
1      NaN
2    150.0
3    172.0
4    190.0
Name: Top Speed, dtype: float64
Total Null values: 3787
---------------------------------------------------
Processed column: Acceleration
0    15.05
1      NaN
2    14.30
3    14.20
4    12.00
Name: Acceleration, dtype: float64
Total Null values: 3512
---------------------------------------------------
Processed column: Cargo Volumn
0    235.0
1    352.0
2    242.0
3    407.0
4    353.0
Name: Cargo Volumn, dtype: float64
Total Null values: 1593
---------------------------------------------------

In [46]:
#Formatting and Converting the Torque Column
df_CombinedData['Wheel Size'] = convert_to_numeric( df_CombinedData['Wheel Size'] )
df_CombinedData['Wheel Size']

0        NaN
1       16.0
2       14.0
3       14.0
4       16.0
        ...
8364     NaN
8365     NaN
8366    17.0
8367    14.0
8368    16.0
Name: Wheel Size, Length: 8369, dtype: float64

In [ ]:
#Formatting and Converting the Registration Year Column to int data type

In [22]:
def extract_years(column):

    def extract_year(value):
        if pd.isna(value):
            return np.nan  # Keep NaN as is
        try:
            # Extract years (two or four digits) using regex
            match = re.search(r'(\d{4}|\d{2})', str(value))
            if match:
                year = match.group()
                # Convert two-digit years to four-digit (assuming 2000s)
                return int(year) if len(year) == 4 else int('20' + year)
            else:
                return value
        except ValueError:
            return value  # Return existing value if conversion fails

    return column.apply(extract_year)

In [23]:
# Apply the function

df_CombinedData['Registration Year'] = extract_years(df_CombinedData['Registration Year'])
df_CombinedData['Registration Year']

0       2015.0
1       2018.0
2       2018.0
3       2014.0
4       2015.0
         ...
8364    2022.0
8365    2014.0
8366    2011.0
8367    2012.0
8368    2017.0
Name: Registration Year, Length: 8369, dtype: float64

In [47]:
df_CombinedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   city                           8369 non-null   object
 1   bt                             8365 non-null   object
 2   km                             8369 non-null   float64
 3   ownerNo                        8369 non-null   int64
 4   oem                            8369 non-null   object
 5   model                          8369 non-null   object
 6   modelYear                      8369 non-null   int64
 7   centralVariantId               8369 non-null   int64
 8   variantName                    8369 non-null   object
 9   price                          8369 non-null   float64
 10  Registration Year              8317 non-null   float64
 11  Insurance Validity             8365 non-null   object
 12  Fuel Type                      8369 non-null   object
 13  RTO                            7475 non-null   object
 14  Transmission                   8369 non-null   object
 15  Features                       8369 non-null   int64
 16  Comfort & Convenience          8301 non-null   float64
 17  Interior                       8292 non-null   float64
 18  Exterior                       8279 non-null   float64
 19  Safety                         8273 non-null   float64
 20  Entertainment & Communication  7274 non-null   float64
 21  Mileage                        8082 non-null   float64
 22  Max Power                      8309 non-null   float64
 23  Torque                         8309 non-null   float64
 24  Color                          8366 non-null   object
 25  Engine Type                    8074 non-null   object
 26  Displacement                   8365 non-null   float64
 27  No of Cylinder                 8338 non-null   float64
 28  Values per Cylinder            8318 non-null   float64
 29  Value Configuration            6153 non-null   object
 30  Fuel Suppy System              6642 non-null   object
 31  Turbo Charger                  7329 non-null   object
 32  Super Charger                  6407 non-null   object
 33  Length                         8290 non-null   float64
 34  Width                          8286 non-null   float64
 35  Height                         8290 non-null   float64
 36  Wheel Base                     8206 non-null   float64
 37  Front Tread                    4811 non-null   float64
 38  Rear Tread                     4799 non-null   float64
 39  Kerb Weight                    8309 non-null   float64
 40  Gear Box                       8043 non-null   float64
 41  Drive Type                     6809 non-null   object
 42  Seating Capacity               8363 non-null   float64
 43  Steering Type                  8114 non-null   object
 44  Turning Radius                 6769 non-null   float64
 45  Front Brake Type               8273 non-null   object
 46  Rear Brake Type                8273 non-null   object
 47  Top Speed                      4582 non-null   float64
 48  Acceleration                   4857 non-null   float64
 49  Tyre Type                      8292 non-null   object
 50  Cargo Volumn                   6776 non-null   float64
 51  Wheel Size                     5386 non-null   float64
dtypes: float64(28), int64(4), object(20)
memory usage: 3.3+ MB

# Handling Null Values in the Columns

1, column : 'bt'

In [50]:
# Fill NaN values in 'bt' based on the mode of each 'Model'
for model in df_CombinedData['model'].unique():
    mode_value = df_CombinedData.loc[df_CombinedData['model'] == model, 'bt'].mode()
    if not mode_value.empty:
        df_CombinedData.loc[(df_CombinedData['model'] == model) & (df_CombinedData['bt'].isna()), 'bt'] = mode_value[0]

df_CombinedData['bt'].isna().sum()

np.int64(1)

In [52]:
#Externally handling the null values for the Toyoto Vellfire
df_CombinedData['bt'] = df_CombinedData['bt'].fillna('Muv')

In [53]:
df_CombinedData['bt'].isna().sum()

np.int64(0)

2, column: 'Registration Year'

In [55]:
#Filling Null values of Registration Year by corresponding values of modelYear
df_CombinedData['Registration Year'] = df_CombinedData['Registration Year'].fillna(df_CombinedData['modelYear'])

In [56]:
df_CombinedData['Registration Year'].isna().sum()

np.int64(0)

3, column: 'Insurance Validity'

In [58]:
#Checking the Unique Values of the Insurance Validity column
df_CombinedData['Insurance Validity'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', nan, '2', '1', 'Not Available'], dtype=object)

In [61]:
# Step 1: Replace 'Third Party insurance' with 'Third Party'
df_CombinedData['Insurance Validity'] = df_CombinedData['Insurance Validity'].replace(
    'Third Party insurance', 'Third Party'
)

# Step 2: Replace '1' with 'Comprehensive' and '2' with 'Third Party'
df_CombinedData['Insurance Validity'] = df_CombinedData['Insurance Validity'].replace({
    '2': 'Third Party',
    '1': 'Comprehensive'
})

# Step 3: Handle NaN values by replacing with 'Not Available'
df_CombinedData['Insurance Validity'] = df_CombinedData['Insurance Validity'].fillna('Not Available')

In [62]:
df_CombinedData['Insurance Validity'].isna().sum()

np.int64(0)

4, column: 'RTO'

In [67]:
# Define a function to fill NaN values with the mode of the group
def fill_with_mode(group):
    return group.fillna(group.mode().iloc[0]) if not group.mode().empty else group

In [ ]:
# Group by 'City' and apply the function to the 'RTO' column
df_CombinedData['RTO'] = df_CombinedData.groupby('city')['RTO'].transform(fill_with_mode)

In [64]:
df_CombinedData['RTO'].isna().sum()

np.int64(0)

5, column: 'Comfort & Convenience'

In [65]:
df_CombinedData['Comfort & Convenience'].unique()

array([10., 17., 14., 16., 21., 13., 11., 20., 22., 15., 26., 19., 25.,
        8., 31., 32., 30., 18.,  6., 23., 24.,  5.,  9., 12., 28., 27.,
        7., 29., nan,  2.,  4.,  3.,  1., 35., 33., 34., 37.])

In [69]:
# Group by 'Model' and apply the function to the 'Comfort & Convenience' column
df_CombinedData['Comfort & Convenience'] = df_CombinedData.groupby('model')['Comfort & Convenience'].transform(fill_with_mode)

In [72]:
#checking for nan values
df_CombinedData['Comfort & Convenience'].isna().sum()

np.int64(13)

In [74]:
# As filling Null values by grouping the method , still nan values are there . so we are using mode to fill the nan values
df_CombinedData['Comfort & Convenience'] = df_CombinedData['Comfort & Convenience'].fillna(df_CombinedData['Comfort & Convenience'].mode()[0])

In [76]:
#checking for nan values after handling nan
df_CombinedData['Comfort & Convenience'].isna().sum()

np.int64(0)

6, column: 'Interior'

In [77]:
df_CombinedData['Interior'].unique()

array([ 7., 12., 10., 11.,  8.,  9., 13., 15.,  6., 16., 14.,  4.,  3.,
        5., nan,  2.,  1., 17., 18.])

In [78]:
# Group by 'Model' and apply the function to the 'Comfort & Convenience' column
df_CombinedData['Interior'] = df_CombinedData.groupby('model')['Interior'].transform(fill_with_mode)

In [79]:
#checking for nan values
df_CombinedData['Interior'].isna().sum()

np.int64(10)

In [80]:
# As filling Null values by grouping the method , still nan values are there . so we are using mode to fill the nan values
df_CombinedData['Interior'] = df_CombinedData['Interior'].fillna(df_CombinedData['Interior'].mode()[0])

In [81]:
#checking for nan values
df_CombinedData['Interior'].isna().sum()

np.int64(0)

7, column: 'Exterior'

In [82]:
df_CombinedData['Exterior'].unique()

array([ 5., 12., 13., 10., 15., 11., 16., 23.,  7., 14.,  8.,  9.,  6.,
       20., 18.,  2., 19., 17.,  4.,  3., 22., 27., 26., 21., nan, 24.,
        1., 25.])

In [83]:
# Group by 'Model' and apply the function to the 'Comfort & Convenience' column
df_CombinedData['Exterior'] = df_CombinedData.groupby('model')['Exterior'].transform(fill_with_mode)

In [84]:
#checking for nan values
df_CombinedData['Exterior'].isna().sum()

np.int64(24)

In [86]:
# As filling Null values by grouping the method , still nan values are there . so we are using mode to fill the nan values
df_CombinedData['Exterior'] = df_CombinedData['Exterior'].fillna(df_CombinedData['Exterior'].mode()[0])

In [87]:
#checking for nan values
df_CombinedData['Exterior'].isna().sum()

np.int64(0)

8, column: 'Safety'

In [88]:
df_CombinedData['Safety'].unique()

array([13., 27., 24., 18., 22., 17., 31., 29., 25., 20., 23., 33., 26.,
       16., 37., 30., 38., 34., 36., 21., 45.,  6., 35., 19., 40., 14.,
        7., 15., 28., 32., 10., 11., 12., 39., nan, 41., 42.,  8.,  9.,
        1.,  5., 44., 48.])

In [89]:
# Group by 'Model' and apply the function to the 'Comfort & Convenience' column
df_CombinedData['Safety'] = df_CombinedData.groupby('model')['Safety'].transform(fill_with_mode)

In [90]:
#checking for nan values
df_CombinedData['Safety'].isna().sum()

np.int64(20)

In [91]:
# As filling Null values by grouping the method , still nan values are there . so we are using mode to fill the nan values
df_CombinedData['Safety'] = df_CombinedData['Safety'].fillna(df_CombinedData['Safety'].mode()[0])

In [92]:
#checking for nan values
df_CombinedData['Exterior'].isna().sum()

np.int64(0)

9, column: 'Entertainment & Communication'

In [93]:
df_CombinedData['Entertainment & Communication'].unique()

array([nan,  9.,  8.,  7.,  5.,  6.,  4., 12., 11., 13., 10., 21.,  2.,
        3.,  1., 15., 14., 16., 19., 17.])

In [94]:
# Group by 'Model' and apply the function to the 'Comfort & Convenience' column
df_CombinedData['Entertainment & Communication'] = df_CombinedData.groupby('model')['Entertainment & Communication'].transform(fill_with_mode)

In [95]:
#checking for nan values
df_CombinedData['Entertainment & Communication'].isna().sum()

np.int64(120)

In [96]:
# As filling Null values by grouping the method , still nan values are there . so we are using mode to fill the nan values
df_CombinedData['Entertainment & Communication'] = df_CombinedData['Entertainment & Communication'].fillna(df_CombinedData['Entertainment & Communication'].mode()[0])

In [97]:
#checking for nan values
df_CombinedData['Entertainment & Communication'].isna().sum()

np.int64(0)

10, column: 'Mileage'

In [ ]:
# Fill NA values in Mileage based on Model and Fuel Type
df_CombinedData['Mileage'] = df_CombinedData.groupby(['model', 'Fuel Type'])['Mileage'].transform(
    lambda x: x.fillna(x.median())
)

In [103]:
#checking for nan values
df_CombinedData['Mileage'].isna().sum()

np.int64(84)

In [105]:
# If some combinations of Model and Fuel Type have no mileage data, 
# we can Fallback to filling based on Fuel Type only
df_CombinedData['Mileage'] = df_CombinedData.groupby('Fuel Type')['Mileage'].transform(
    lambda x: x.fillna(x.median())
)

In [106]:
#checking for nan values
df_CombinedData['Mileage'].isna().sum()

np.int64(0)

11, column: 'Max Power'

In [109]:
# Compute median for each group
group_median = df_CombinedData.groupby(['modelYear', 'model'])['Max Power'].transform('median')

# Fill NaN values with group median or overall median
df_CombinedData['Max Power'] = df_CombinedData['Max Power'].fillna(group_median).fillna(df_CombinedData['Max Power'].median())

In [110]:
df_CombinedData['Max Power'].isna().sum()

np.int64(0)

12, column: 'Torque'

In [112]:
# Compute median for each group
group_median = df_CombinedData.groupby(['modelYear', 'model'])['Torque'].transform('median')

# Fill NaN values with group median or overall median
df_CombinedData['Torque'] = df_CombinedData['Torque'].fillna(group_median).fillna(df_CombinedData['Torque'].median())

In [113]:
df_CombinedData['Torque'].isna().sum()

np.int64(0)